.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid black;
    border-radius: 21px;
    height: 65px;
    width: 456px;
}
button{
    font-size: 40px;
    background-color: aqua;
    width: 102px;
    height: 90px;
    border-radius: 20px ;
    margin: 3px;
}
.calculator{
    display: inline-block;
    padding: 23px;
    border-radius: 53px;
    background-color: blueviolet;
    border: 4px solid rgba(109, 235, 136, 0.959);
}
h1{
    font-size: 40px;
}